<% flash.each do %>
  <p id="notice" role="alert" class="alert alert-success"><%= notice %><button type="button" class="close" data-dismiss="alert" aria-label="Close">
  </button></p>
<% end %>

<div class="btn-group-lg btn-group table-buttons" role="group">
<%= link_to "Create", new_note_path, :class => "btn btn-xl btn-outline-dark" %>
<a role="button" href="/view" class="btn btn-xl btn-outline-dark">Consume</a>
<a role="button" href="/tags" class="btn btn-xl btn-outline-dark">Browse</a>
</div>

