<% flash.each do %>
  <div id="notice" role="alert" class="alert alert-dismissible alert-success"><%= notice %><button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button></div>
  <% end %>

<div class="tag-styles col-sm-7">
  <% @taglist.each do |t| %>
    <p class="importance-style"><a href="tags/<%= t.id %>"><%= t.name %></a></p>
      <% end %>
</div>

<br>

<%= link_to "back", notes_path, :class => "red-text tag-item nav-item nav-link" %>
