
<p id="notice"><%= notice %></p>


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<div>
  <% @taglist.each do |t| %>
    <li><%= t.name %></li>
    <% (1..10).each do |n| %>
      <%= link_to n.to_s, changeimportance_path(tagID:t.id, noteNum:n) %>
    <% end %>
  <% end %>

</div>
<br>

<%= link_to 'New Note', new_note_path %>
</main>
