
<p id="notice"><%= notice %></p>


<main role="main" class="col-md-10 ml-sm-auto col-lg-9 pt-3 px-4">

<div class="tag-styles col-sm-7">
  <% @taglist.each do |t| %>
    <p class="importance-style"><a href="tags/<%= t.id %>"><%= t.name %></a></p>
      <% end %>
</div>

<br>

<%= link_to "back", notes_path, :class => "red-text tag-item nav-item nav-link" %>
</main>
