
<p id="notice"><%= notice %></p>


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

<div class="col-sm-7">
  <% @taglist.each do |t| %>
    <p><%= t.name %></p>
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <% (1..10).each do |n| %>
        <% if n == t.importance %>
          <%= link_to n.to_s, changeimportance_path(tagID:t.id, noteNum:n), class: "btn btn-primary active" %>
        <% else %>
          <%= link_to n.to_s, changeimportance_path(tagID:t.id, noteNum:n), class: "btn btn-secondary" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<br>

</main>
