<p id="notice"><%= notice %></p>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div>
    <%= render :partial => 'notes/shownote', locals: { notes: @notes} %>
  </div>
<%= link_to 'Back', notes_path %>

</main>
