// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
}

.body-note {
  resize: none;
  height: 20em;
}

.card-text {
  margin: 20px;
  margin-right: 40px;
}

.card-body {
  padding-bottom: 10px !important;
}

.sidebar {
  background: white;
  color: #000;
  height: auto;
  border-radius: 4px;
  float: left;
  padding: 10px;
  margin-top: 8px;
}

.card {
  box-shadow: 3px 3px lightgrey;
}

.sidebar {
  width: 30%;
}

.content {
  width: 60%;
}

.red-text {
  color: red !important;
}

@media (max-width: 767px) {
  .card-body {
    padding-bottom: 0px !important;
  }
}
