// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 1015px;
}

.body-note {
  resize: none;
  height: 8em;
}

.card-text {
  margin: 20px;
}

.sidebar {
  background: #333;
  color: #000;
  height: auto;
  border-radius: 4px;
  float: left;
  padding: 10px;
}

.card {
  box-shadow: 3px 3px lightgrey;
}

.sidebar {
  width: 30%;
}

.content {
  width: 60%;
}
