// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1015px;
}

.sidebar, .content {
  background: #333;
  color: #fff;
  height: 500px;
  border-radius: 4px;
  margin: 20px;
  border: 1px solid #777;
  float: left;
}

.sidebar {
  width: 300px;
}

.content {
  width: 630px;
}
