// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style-type:none
}

.importance-style {
  margin: 10px 10px 2px 0px !important;
}

.import {
  border-color: #818182 !important;
  border-left-style: dotted !important;
  border-right-style: dotted !important;
  border-radius: 0px !important;
}

.tag-styles {
  margin-top: -15px;
  margin-left: -25px;
}
